@page
@model Flora.Pages.ShoppingModel
@{
    ViewData["Title"] = "Shopping";
}
<main>
    <h1>Welcome @Model.WelcomeUsername to Flora</h1>

    <!-- Notification Banner -->
    <div id="notification" class="notification"></div>

    <!-- Hidden element to pass TempData message -->
    @if (TempData["Message"] != null)
    {
        <div id="tempDataMessage" data-message="@TempData["Message"]" class="hidden"></div>
    }
    else
    {
        <div id="tempDataMessage" data-message="" class="hidden"></div>
    }

    <!-- Search Form -->
    <form method="get">
        <p>
            <select asp-for="ProductCategory" asp-items="Model.Categories">
                <option value="">All</option>
            </select>
            <label>Search: <input type="text" asp-for="SearchString" /></label>
            <input type="submit" value="Filter" />
        </p>
    </form>

    <!-- Products Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td align="center">@item.Category</td>
                    <td>
                        <img src="~/Assets/@item.Image" width="125" height="120" />
                    </td>
                    <td>SAR @item.Price</td>
                    <td>
                        <form method="post" asp-page-handler="AddToCart" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
@section Scripts {
    <script src="~/js/contactValidation.js"></script>
}
